* {
  margin: 0;
}

body {
  background: #ff9393;
}

.container div {
  height: 2rem;
}
.container:nth-of-type(1n) {
  padding: 2rem;
  background: #ffb993;
}
.container:nth-of-type(2n) {
    padding: 2rem;
    background: #dbff93a0;
}
.container  >  div:nth-of-type(1n) {
background: #93ff9a;
}
.container  >  div:nth-of-type(2n) {
background: #ff93e6;
}
.container .row >  div:nth-of-type(1n) {
  background: #93ff9a;
}
.container .row >  div:nth-of-type(2n) {
  background: #ff93e6;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {width: calc(8.33% * 1);}
.col-2 {width: calc(8.33% * 2);}
.col-3 {width: calc(8.33% * 3);}
.col-4 {width: calc(8.33% * 4);}
.col-5 {width: calc(8.33% * 5);}
.col-6 {width: calc(8.33% * 6);}
.col-7 {width: calc(8.33% * 7);}
.col-8 {width: calc(8.33% * 8);}
.col-9 {width: calc(8.33% * 9);}
.col-10 {width: calc(8.33% * 10);}
.col-11 {width: calc(8.33% * 11);}
.col-12 {width: calc(8.33% * 12);}

@media only screen and (max-width:850px){
    .col-md-1 {width: calc(8.33% * 1);}
    .col-md-2 {width: calc(8.33% * 2);}
    .col-md-3 {width: calc(8.33% * 3);}
    .col-md-4 {width: calc(8.33% * 4);}
    .col-md-5 {width: calc(8.33% * 5);}
    .col-md-6 {width: calc(8.33% * 6);}
    .col-md-7 {width: calc(8.33% * 7);}
    .col-md-8 {width: calc(8.33% * 8);}
    .col-md-9 {width: calc(8.33% * 9);}
    .col-md-10 {width: calc(8.33% * 10);}
    .col-md-11 {width: calc(8.33% * 11);}
    .col-md-12 {width: calc(8.33% * 12);}
}

@media only screen and (max-width:600px){
    .col-sm-1 {width: calc(8.33% * 1);}
    .col-sm-2 {width: calc(8.33% * 2);}
    .col-sm-3 {width: calc(8.33% * 3);}
    .col-sm-4 {width: calc(8.33% * 4);}
    .col-sm-5 {width: calc(8.33% * 5);}
    .col-sm-6 {width: calc(8.33% * 6);}
    .col-sm-7 {width: calc(8.33% * 7);}
    .col-sm-8 {width: calc(8.33% * 8);}
    .col-sm-9 {width: calc(8.33% * 9);}
    .col-sm-10 {width: calc(8.33% * 10);}
    .col-sm-11 {width: calc(8.33% * 11);}
    .col-sm-12 {width: calc(8.33% * 12);}
}