/* .Die{
    background-color: teal;
    border-radius: .35em;
    color: white;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    text-align: center;
    margin-right: .5em;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: .45em;
} */


img{
    width: 80px;
    transition: .5s;
    background-color: slateblue;
    box-sizing: border-box;
    padding: 1px;
    /* filter: sepia(50%) blur(5px) brightness(80%); */
    mix-blend-mode: luminosity; 
    /* border: 4px solid black ; */
    box-shadow:  0 0 0 10px #007BFF;
    border-radius: .45em;
    margin: 1em;
}

