

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>your random number is <%= bubbles %></h1>
    <% if(bubbles % 2 === 0){ %>
        <h2>that is Even number</h2>
    <% }else{ %>
        <h2>that is Odd number</h2>
    <% } %>
    <h3><%= bubbles%2===0 ? 'EVEN' : 'ODD' %></h3>
</body>
</html>

